@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a; /* Slate 900 */
  --foreground: #e2e8f0; /* Slate 200 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; /* App-like feel */
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
